/* demo only */
body { font-family: helvetica; }
.video-container { margin: 40px auto 0; }

/* Feature - Begin code */
.video-container {
  position: relative;
  width: 1000px;
  height: 360px;
}

.video-container article{
  position: absolute;
  left: 0;
  top: 0;
  width: 640px;
}
.video-container aside {
  position: absolute;
  left: 640px;
  top: 0;
  width: 360px;
}
.playlist-heading {
  background-color: #5b6068;
  color: #fff;
  font-size: 18px;
  letter-spacing: 0.1em;
  line-height: 36px;
  padding-left: 10px;
}
.playlist {
  background-color: #f8f8f8;
  font-size: 13px;
  width: 360px;
  height: 324px;
  overflow-y: auto;
}

#video-list {
  list-style-type: none;
  margin: 0; 
  padding-left: 0;
}

#video-list li {
  height: auto;
}

#video-list li a {
	border-bottom: #9b9da1 solid 1px;
  color: #666;
  display:block;
  height: 100%;
  line-height: 1.6;
  padding: 8px 10px;
  text-decoration: none;
}

#video-list li a:hover {
  background-color: #5b6068;
  color: #fff;
}